/*Overall vibe I am going for is camper theamed with lots of fun pastel blue, purple and yellow. Very Summer*/
body{
    text-align: center;
    background-image: url(../fcc-projects/cafe-images/beans.jpg);
}
*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.established{
    font-style: italic;
}
h1{
    font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
h2 {
    font-size: 30px;
  }

.menu{
    background-color:#a38865;
    color: antiquewhite;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    max-width: 500px;
    padding: 20px;
    height: 60%%;
  }
.price{
    text-align: right;
    display: inline-block;
    width: 75%;
}
.item{
    text-align: left;
    display: inline-block;
    width: 25%;
}

hr{
    height: 2px;
    background-color: none;
    border-color: antiquewhite;
    border-style: dotted;
}
/* FOOTER */
a{
    display: inline-block;
    color: antiquewhite;
}
a:visited{
    color:antiquewhite
}
a:hover{
    color: black;
}
